
.book-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.book-image {
  width: 250px;
}

.book-info {
  list-style: none;
  display: inline-block;
  font-size: 1.1rem;
  margin-top: 0;
  li {
    margin-bottom: 0.5rem;

    b {
      font-weight: 700;
      }
  }

}

.marketer-card {
  width: 40vw;
}

table {
  width: 100%;
}

.outer-dashboard-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}